.all {
  height: 45em;
  background-size: cover;
  width: auto;
  background-image: url('../../../assets/images/resetpassword.jpg');
  background-position: 50% 50%;

}

.card {

  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 100px;
  /* left: 35%; */
  transform: translate(-50%, -50);
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 0.4)0%, hsla(260, 29%, 36%, 0.6)100%);

}

.card h1,
h6 {
  color: ivory;
}

label {
  color: ivory;
}
