@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

#logofont{
  font-family: 'Licorice', cursive;
  font-weight: bold;
}
.logo{
  width: 60px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block ;
  margin: 0 1px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color:#123C69;
  text-transform: uppercase;

}
.navbar ul li ::after{
  content: '';
  height: 3px;
  width: 0 ;
  background: #123C69 ;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover ::after{
  width:100%;

}
