<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3>Enter OTP</h3>
            <br>
            <input type="number" class="form-control" [(ngModel)]="code" placeholder="Enter Code">
            <br>
            <br>
            <input type="button" value="Proceed >> " (click)="verify()" [disabled]="code==null" class="btn btn-danger">
        </div>
        <div class="col-md-4"></div>
    </div>
</div>