<footer style="background-color: black; color: white;">

    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" placeholder="Subscribe hear" [(ngModel)]="subscribe"
                                    class="form-control" name="" id="">
                            </div>
                            <div class="col-md-2">
                                <input type="button" [disabled]="subscribe==null" (click)="check()" value="Subscribe"
                                    class="btn btn-info">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="text-center">
                            Echo Flights
                        </h5>
                        <hr style="margin-left: 40%; margin-right: 40%; height: 2px; color: white;;">
                        <br>
                        <p class="content">
                            Echo Flights is not only the most efficient low fare operator domestically but is also
                            comparable with global low cost airlines.<br> We are constantly enhancing our engagement
                            with our passengers to augment their travel experience.
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h6 class="text-center">Tabs</h6>
                        <hr style="margin-left: 40%; margin-right: 40%; height: 2px; color: white;">
                        <br>
                        <a class="nav-link" href="#">Home</a>
                        <!-- <br> -->
                        <a class="nav-link" href="#">My Trip</a>
                        <!-- <br> -->
                        <!-- <br> -->
                        <a class="nav-link" routerLink="/searchflight">Search Flight</a>
                        <a class="nav-link" routerLink="/cantact">Contact us</a>
                    </div>
                    <div class="col-md-5 text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="text-center">Contact Us</h6>
                                <hr style="margin-left: 40%; margin-right: 40%; height: 2px; color: white;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <p><i class="fa fa-location-arrow"></i> New Delhi, INDIA</p>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i> echoflights@example.com</p>
                                <p>
                                    <i class="fa fa-phone"></i> (+91)-234 567 8999
                                </p>
                                <p>
                                    <i class="fa fa-phone"></i> (+91)-234 567 8900
                                </p>
                            </div>
                            <div class="col-md-6">
                                <br>
                                <p>
                                    <i class="fa fa-linkedin"></i>
                                </p>
                                <p>
                                    <i class="fa fa-twitter"></i>
                                </p>
                                <p>
                                    <i class="fa fa-youtube-play"></i>
                                </p>
                                <p>
                                    <i class="fa fa-facebook"></i>
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="col-md-2"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <br>
                    © 2022 Copyright: EchoFlights
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <br>

</footer>