<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #123C69;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0" style="color: aliceblue;">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fa fa-facebook-square" style="font-size:40px;color:white;padding: 20px;"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fa fa-twitter-square" style="font-size:40px;color:white;  padding: 20px;"> </i>
                    </a>


                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram" style="font-size:40px;color:white; padding: 20px;"> </i>
                    </a>

                    <a class="ins-ic">
                        <i class="fa fa-youtube" style="font-size:38px;color:white; padding: 20px;"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Echo Flights</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p> Echo Flights is not only the most efficient low fare operator domestically but is also comparable
                    with global low cost airlines. We are constantly enhancing our engagement with our passengers to
                    augment their travel experience.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Services</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Search Flights</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Explore</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Customer Services</a>
                </p>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Your Privacy</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Safety Measures</a>
                </p>

                <p>
                    <a class="dark-grey-text" href="#!">Help</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> New Delhi, INDIA
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> echoflights@example.com
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 91 234 567 8
                </p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 91 234 567 89
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <div class="primary-button text-center">
        <a href="#" class="scroll-top">Back To Top</a>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2022 Copyright:
        <a class="dark-grey-text" href="#"> EchoFlights. </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->