#div1 {
  width: cover;
  height: justify;
  background-image: url(/assets/images/airplane.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#ticketdiv {
  background: rgb(240, 230, 211, 0.6);
  border-radius: 25px;
  width: 500px;
  height: auto;
}

button:hover {
  border: none;
  background-color: #ebf1f1;
  transition: 1s;
}
