<div class="all">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="text-center">
                        <h1>Reset-Password</h1>
                        <!-- <h6>Please Enter Your Contact-no !!</h6> -->
                    </div>
                    <div style="width: 400px;">
                        <form [formGroup]="emailForm" (ngSubmit)="verifyphone()">
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="text" class="form-control" id="email" required formControlName="email"
                                name="email">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name">Contact-no</label>
                            <input type="number" class="form-control" id="mobile" required formControlName="phoneno"
                                name="mobile">
                        </div>
                        <br>
                        <button type="submit" [disabled]="emailForm.invalid" class="btn btn-success">Submit</button>
                        <br>

                        <h2 style="color: red;">{{message}}</h2>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>