<div class="wrapper">
    <div class="overlay">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="contact-us text-center">
                    <h3>Contact Us</h3>
                    <p class="mb-5">Fill up the form and our Team will get back to you within in 24 hours</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-5 text-center px-3">

                                <div class="d-flex flex-row align-items-center"> <span class="icons"><i
                                            class="fa fa-map-marker"></i></span>
                                    <div class="address text-left"> <span>Address</span>
                                        <p>461, Greater Noida, Delhi, India </p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mt-3"> <span class="icons"><i
                                            class="fa fa-phone"></i></span>
                                    <div class="address text-left"> <span>Phone</span>
                                        <p>+91-9691081709</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mt-3"> <span class="icons"><i
                                            class="fa fa-envelope-o"></i></span>
                                    <div class="address text-left"> <span>Email</span>
                                        <p>echoflights@example.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center px-1">
                                <div class="forms p-4 py-5 bg-white">
                                    <h5>Send Message</h5>
                                    <div class="mt-4 inputs">
                                        <input type="text" class="form-control" [(ngModel)]="name" placeholder="Name">
                                        <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email">
                                        <textarea class="form-control" [(ngModel)]="message" placeholder="Type your message"></textarea>
                                    </div>
                                    <div class="button mt-4 text-left">
                                        <button type="submit" (click)="onSubmit()" class="btn btn-dark">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>