<app-all-nav></app-all-nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center">Change Password</h2>
            <br>
            <form [formGroup]="changepassword" (ngSubmit)="submit()">
                <input type="password" class="form-control" formControlName="password" placeholder="Enter New Password">
                <div *ngIf="changepassword.invalid && changepassword.touched">
                    <small class="text-danger" *ngIf="changepassword.get('password').errors?.required">Password is required</small>
                    <small class="text-danger" *ngIf="changepassword.get('password').errors?.minlength">Password must be 6 character</small>
                </div>
                <br>
                <br>
                <input type="submit" [disabled]="changepassword.invalid" value="Update Password" class="btn btn-primary">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>