<div class="container">
    <h1 class="display-4" style="font-size: 40px;">List of Admins:</h1>
    <table class="table table-hover" style="padding-right: 150px; padding-left: 150px;">
        <thead class="thead-dark">
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>email</th>
                <th>address</th>
            </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let u of user">
            <td>{{u.userid}}</td>
            <td>{{u.firstname}} {{u.lastname}}</td>
            <td>{{u.mobileno}}</td>
            <td>{{u.email}}</td>
            <td>{{u.address}}</td>
        </tr>
        </tbody> -->
    </table>
</div>